<div class="container">
            <h3><strong>Registro realizado correctamente</strong> en <img src="../../../../assets/img/logo-agapea.jpg" width="186px" height="85px" /></h3>
            <p>Para completar el proceso de activacion de su cuenta, acceda al enlace incluido en el EMAIL que el acabamos de enviar.</p>
            <p>Si no lo recibe, compruebe en su carpeta de SPAM o Correo no deseado.</p>
</div>
<a [routerLink]="['/Cliente/Login']" routerLinkActive="router-link-active">INICIAR SESION</a>
