<div class="max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
    <div class=" flex flex-row justify-start">
        @if(addressEdit.esPrincipal){
            <p class="text-emerald-400 pe-3"> Principal</p>
        }
        @if(addressEdit.esFacturacion){
            <p class="text-orange-500"> Facturación </p>
        }
    </div>
    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
    {{addressEdit.calle}} , {{addressEdit.municipio.DMUN50}} , {{addressEdit.provincia.PRO}} , {{addressEdit.pais}} , {{addressEdit.cp}}
    </p>
    <div class="flex flex-row justify-end">
        <button (click)="this.OperateAddress('pending-modify')" 
        type="button" class="py-2.5 px-5 me-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-blue-500 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">
            Editar 
        </button>
        <button (click)="this.OperateAddress('remove')"
        type="button" class="py-2.5 px-5 me-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-red-500 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">
            Eliminar
        </button>
    </div>
</div>
